
.container {
    border : 2px solid black;
    border-radius: 10px;
    background-color: rgb(253, 180, 180);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1.5rem;
}

#btn {
    color: black;
    background-color: cornsilk;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 1.5rem;
    padding: 1rem;
}