*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
}

input {
  border: 6px solid blue;
  border-radius: 5px;
}